
@font-face {
    font-family: 'Sinha Nimsara';
    src: url('../../public/fonts/SinhaNimsara-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .sinhala-font {
    font-family: 'Sinha Nimsara', sans-serif;
  }
  

