
@font-face {
    font-family: 'Sinha Nimsara';
    src: url('../../public/fonts/SinhaNimsara-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .sinhala-font {
    font-family: 'Sinha Nimsara', sans-serif;
  }
  

  .logo-pop {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .logo-pop.visible {
    opacity: 1;
    transform: scale(1);
  }
  

  /* in Invitation.css or your global CSS */
@keyframes bounceScroll {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(8px); }
}

  